.manager-side-bar-list-wrapper {
    .manager-list-container {
        padding: 21px 9px 21px 21px;

        .list-thumb {
            p {
                font-size: 18px;
                text-align: center;
                @include managerSideBarStyles();
            }

            .faq-thumb-heading,
            .faq-thumb-subHeading {
                @include managerSideBarStyles();
                color: $lightgreen;
            }

            .faq-thumb-heading {
                font-size: 25px;
            }

            .faq-thumb-subHeading {
                font-size: 18px
            }

            .answer-heading {
                display: inline-block;
                cursor: pointer;
                margin: 0px;
                transition: 0.2s all ease-in-out;

                &:hover {
                    transform: scale(1.12);
                }
            }

            .answer {
                margin-top: 0px;
            }

            .question-heading {
                margin-bottom: 0px;
            }

            .question {
                margin-top: 0px;
            }

            img {
                width: 100%;
                height: 350px;
                object-fit: cover;
            }
        }

        .list-name {
            font-size: 25px;
            @include managerSideBarStyles();
        }
    }

    .side-bar-list-title {
        font-size: 2.5em;
        font-family: $LibreFont;
        color: $white;
        text-align: center;
        margin-top: 40px;
    }
}

.name-actions-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .action-icons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 15px;

        .action-icon {
            cursor: pointer;
            color: $offWhite;
            font-size: 2.5em;
            transition: 0.8s ease-in-out;

            &:hover {
                color: $warning;
            }
        }
    }
}