.manager-side-bar-list-wrapper {
    .manager-list-container {
        padding: 21px 9px 21px 21px;

        .list-thumb {
            // border: 1px solid $lightgreen;
            // border-radius: 5px;
            p {
                font-size: 18px;
                text-align: center;
                @include managerSideBarStyles();
            }
        }

        .list-name {
            font-size: 25px;
            @include managerSideBarStyles();
        }
    }

    .side-bar-list-title {
        font-size: 2.5em;
        font-family: $LibreFont;
        color: $white;
        text-align: center;
        margin-top: 40px;
    }
}

.name-actions-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .action-icons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 15px;

        .action-icon {
            cursor: pointer;
            color: $offWhite;
            font-size: 2.5em;
            transition: 0.8s ease-in-out;

            &:hover {
                color: $warning;
            }
        }
    }
}