.site-manager-wrapper {
    .manager-links-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 70px;

        .manager-link {
            div {
                color: $green;
                font-size: 2em;
                text-decoration: none;
                cursor: pointer;
            }

            .active {
                border-bottom: 2px solid $cbd;
            }
        }
    }

    .manager-forms-wrapper {
        height: 100%;
        // calc(100vh - 423px)
    }

    .form-button-wrapper {
        .btn {
            padding: 17px;
            background-color: $lightgreen;
            letter-spacing: 1.5px;
            font-size: 16px;
            color: $white;
            border-radius: 50px;
            font-family: $SourceSansPro;
            border: none;
            cursor: pointer;
        }
    }
}

.manager-wrapper {
    // height: 100%;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    height: 546px;

    .left-column {
        padding: 40px;
        background-color: $offWhite;
    }

    .right-column {
        background-color: $gray;
        overflow-y: auto;
    }

    ::-webkit-scrollbar-thumb {
        background-color: $black;
        border-radius: 10px;
    }

    .reviews-form-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 31px;

        .reviews-form-review {
            height: 100px;
            padding: 10px;
            border: 1px solid $lightgreen;
        }
    }

    .form-input {
        @include inputElement();
    }

    .dogs-form-wrapper {
        display: grid;
        row-gap: 31px;

        .dogs-form-gender-select {
            color: $gray;
            border: 1px solid $lightgreen;
            background-color: transparent;
            outline: none;
            padding: 0px 5px;
            font-size: 22px;
            font-family: $SourceSansPro;
        }
    }

    .form-title {
        margin: 0px 0px 40px 0px;
        font-size: 2.8em;
    }
}

.two-column {
    @include base-grid();
    grid-template-columns: 1fr 1fr;
}

.one-column {
    @include base-grid();
    grid-template-columns: 1fr;
}


