.site-manager-wrapper {
    .manager-links-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 70px;

        .manager-link {
            div {
                color: $green;
                font-size: 2em;
                text-decoration: none;
                cursor: pointer;
            }

            .active {
                border-bottom: 2px solid $cbd;
            }
        }
    }

    .manager-forms-wrapper {
        height: 100%;
    }

    .form-button-wrapper {
        .btn {
            @include buttonStyles();
            border: none;
            cursor: pointer;
        }
    }
}

.manager-wrapper {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    height: 544px;

    .left-column {
        padding: 40px;
        background-color: $offWhite;
        overflow-y: auto;
    }

    .right-column {
        background-color: $gray;
        overflow-y: auto;
    }

    ::-webkit-scrollbar-thumb {
        background-color: $black;
        border-radius: 10px;
    }

    .form-input {
        @include inputElement();
    }

    .form-title {
        margin: 0px 0px 40px 0px;
        font-size: 2.8em;
    }
}

.two-column {
    @include base-grid();
    grid-template-columns: 1fr 1fr;
}

.one-column {
    @include base-grid();
    grid-template-columns: 1fr;
}




