.footer-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 206px;
    background-color: $black;
    justify-items: center;
    align-items: center;

    .footer-icons {
        display: flex;
        margin-top: 30px;
        column-gap: 1px;

        & > * {
            font-size: 25px;
            border-radius: 50px;
            padding: 10px;
            color: $white;
        }

        .icon-youtube {
            background-color: #FF0000;
            padding: 10px;
        }

        .icon-instagram {
            background-color: #262626;
            padding: 10px 12px;
        }

        .icon-facebook {
            background-color: #4267B2;
            padding: 10px 12px 8px 12px;
        }
    }

    .footer-company-name {
        color: #cbd7b5;
        font-family: $SourceSansPro;
        text-transform: uppercase;
        font-size: 15px;
    }
}