.header-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-image-logo {
    position: absolute;
    width: 500px;
}

.header-image-title {
    position: absolute;
    font-size: 40px;
    color: $white;
    font-family: $LibreFont;
}

@media only screen and (max-width: 700px) {
    .header-image-logo {
        width: 300px;
    }
}