body {
    margin: 0;
}

html {
    font-size: 62.5%; // 1rem is 10px
}

.container {
    display: grid;
    position: relative;
}

.content-wrapper {
    min-height: 448px
}



@import "./variables.scss";
@import "./mixins.scss";

@import "./navigation/navigation.scss";
@import "./navigation/dropdown.scss";

@import "./pages/home.scss";
@import "./pages/about.scss";
@import "./pages/review.scss";
@import "./footer.scss";
@import "./pages/dogDetail.scss";
@import "./pages/noMatch.scss";

@import "./headerImage.scss"; 
@import "./buttons.scss";
@import "./dogs.scss";