body {
    margin: 0;
}

html {
    font-size: 62.5%; // 1rem is 10px
}

.container {
    display: grid;
    position: relative;
}



@import "./variables.scss";
@import "./mixins.scss";
@import "./navigation.scss";
@import "./pages/home.scss";
@import "./pages/about.scss";
@import "./pages/review.scss";
@import "./footer.scss";

@import "./headerImage.scss"; 
@import "./buttons.scss";