$white: #fff;
$green: #485541;
$black: #141615;
$lightgreen: #92ac6d;
$gray: #4b4f53;
$cbd: #cbd7b5;
$offWhite: #f8f5f5;
$warning: #922a2a; 
// $danger: #d9534f;

$LibreFont: 'Libre Baskerville', serif;
$SourceSansPro: 'Source Sans Pro', sans-serif;