$white: #fff;
$green: #485541;
$black: #141615;
$lightgreen: #92ac6d;
$gray: #4b4f53;
$cbd: #cbd7b5;
$offWhite: #f8f5f5; 

$LibreFont: 'Libre Baskerville', serif;
$SourceSansPro: 'Source Sans Pro', sans-serif;