.availability-container {
    span {
        display: inline-block;
        margin: 18px 0px;
    }
}

.availability-details-wrapper {
    @include textDetailsSetup();

    .details-content {
        @include detailsText();

        .details-text a {
            text-decoration: none;
            color: $lightgreen;
        }

        .details-availability {
            margin-bottom: 15px;
        }
    }
}

.availability-purchase-wrapper {
    @include textDetailsSetup();

    .purchase-info-wrapper {
        @include detailsText();

        .purchase-heading {
            font-size: 32px;
            color: $green;
            font-family: $LibreFont;
            text-align: center;
        }

        .purchase-detail-img {
            float: right;
            margin-left: 16px;
            width: 480px;
        }
    }
}

.purchase-detail-points {
    .detail-points {
        columns: 3;
        margin: 36px 0px 36px 0px;

        ul {
            margin: 0;
        }
    }
}

// Media Queries 

@media only screen and (max-width: 750px) {
    .purchase-info-wrapper {
        text-align: center;
        font-size: 14px!important;

        .purchase-heading {
            font-size: 24px!important;
        }
    
        .purchase-detail-img {
            width: 320px!important;
        }
    }

    .purchase-detail-points {
        text-align: initial!important;
    }
}

@media only screen and (max-width: 565px) {
    .purchase-detail-img {
        margin: 0!important;
        float: none!important;
    }
}