.no-match-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 850px;

    .headings-wrapper {
        text-align: center;
        font-family: $SourceSansPro;

        .code-heading {
            font-size: 199px;
            font-weight: 700;
            color: $black;
            margin: 0;
        }

        .detail-heading {
            font-size: 23px;
            color: $black;
            text-transform: uppercase;
            font-weight: 500;
        }
    }

    .btn-wrapper {
        margin-top: 90px;

        .no-match-button a {
            font-size: 18px;
            letter-spacing: 2.1px;
        }
    }
}